@media (max-width: 992px) { 
    /* =============== NAVBAR START ====================*/

    nav {
        height: 60px !important; 
    }
    nav .navbar-brand img{
        height: 40px;
    }
    nav .mobile-btn{
        width: 50px;
    }
    nav .mobile-btn-icon i{
        font-size: 20px;
    }
    nav .mobile-btn{
        height: 100%;
    }
    /* =============== NAVBAR END ======================*/


    /* =============== BANNER START ====================*/
    @media (max-width: 576px) { 
       
        #banner .container .contains h1{
            font-size: 30px;
        }
    }
    /* =============== BANNER END ======================*/
}