/* =============== CSS COMMON START ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--commone-fonts);
  /* outline: 1px solid red; */
}
  body{
    /* height: 3000px; */
    cursor: none; 
  }
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

:root { 
  --black: #02050a;
  --light-black: #141c27;
  --common-clr: #55e6a5;
  --white: #ffffff;
  --commone-fonts: "Poppins", sans-serif;
  --offwite: #a2a2a2;
}

/* =============== CSS COMMON END ======================*/

/* =============== NAV START ====================*/
nav {
  background-color: var(--black);
  height: 80px;
}

nav .navbar-brand {
  padding: 0 !important;
}

nav .container {
  background-color: var(--light-black);
  height: 100%;
}

nav .row {
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: var(--white) !important;
  text-transform: uppercase;
  padding: 0 15px;
  display: inline-block;
  font-family: var(--commone-fonts);
  font-weight: 400;
  transition: 0.3s;
  position: relative;
}

nav ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: -28px;
  transition: 0.3s;
  background-color: var(--common-clr);
}

nav ul li a:hover::before {
  width: 100%;
}

nav ul li .active {
  color: var(--common-clr) !important;
}

nav ul li a:hover {
  color: var(--common-clr) !important;
}

nav .mobile-btn {
  background-color: var(--common-clr);
  border: none;
  outline: none;
  width: 80px;
  height: 80px;
  transition: 0.2s;
}

nav .mobile-btn:hover {
  background-color: var(--light-black);
  color: var(--common-clr);
}

nav .mobile-btn-icon i {
  font-size: 30px;
  font-weight: 800;
}

.offcanvas {
  background-color: var(--black);
}

.dropdown-toggle::after {
  display: none;
}

/*================= OFFCANVA-START================ */
.offcanvas .offcanvas-header {
  padding: 10px 20px;
  border-bottom: 0.5px solid var(--common-clr);
}

.offcanvas .offcanvas-header img {
  height: 60px;
}

.offcanvas .mobile-cross-btn {
  width: 60px;
  height: 60px;
  color: var(--common-clr);
  display: inline-block;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

.offcanvas .offcanvas-body ul li a {
  padding: 10px;
  color: var(--white);
  /* background-color: #55E6A5; */
  width: 100%;
  display: block;
  margin: 5px 0;
  border-bottom: 1px solid var(--common-clr);
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
  z-index: 2;
}

.offcanvas .offcanvas-body ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: var(--common-clr);
  left: 0;
  top: 0;
  z-index: -2;
  transition: 0.3s;
}

.offcanvas .offcanvas-body ul li a:hover::before {
  height: 100%;
}

/*==================== OFFCANVA-END ===================*/
/* =============== NAV END ======================*/

/* =============== BANNER START ====================*/
#banner {
  height: 700px;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#banner .container {
  padding-top: 20px;
}
#banner .container .contains {
  padding: 100px 0 0 0;
  overflow: hidden;
}
#banner .container .contains h1 {
  font-size: 60px;
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: var(--commone-fonts);
}
#banner .container .contains h1 span {
  color: var(--common-clr);
}
#banner .container .contains p {
  color: var(--offwite);
  text-align: justify;
}
#banner .container .contains button {
  padding: 20px 40px;
  border: none;
  background-color: var(--common-clr);
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  margin: 30px 25px 0 0;
}
#banner .container .contains a {
  color: var(--white);
  font-size: 18px;
  font-family: var(--commone-fonts);
  transition: 0.3s;
}
#banner .container .contains a:hover {
  color: var(--common-clr);
}
#banner .container .img-layer img {
  width: 100%;
  height: 100%;
  inset: 50px;
  display: inline-block;
}
#banner .container .img-layer {
  position: relative;
  padding: 30px;
}
#banner .container .img-layer::after {
  content: "";
  position: absolute;
  background: url("../images/__after.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: banner 1s infinite alternate;
  -webkit-animation: banner 1s infinite alternate;
}
@keyframes banner {
  from {
    margin-top: -5px;
  }
  to {
    margin-top: 0;
  }
}
#banner .container .contains button {
  position: relative;
}
#banner .container .contains button::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--black);
  text-align: center;
  padding: 20px 0;
  left: 0;
  top: 0;
  background-color: var(--white);
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask-size: 3500% 100%;
  z-index: 10;
  animation: banner-btn 0.7s forwards steps(29);
}
#banner .container .contains button:hover::after {
  animation: reverse-banner-btn 0.7s forwards steps(29);
}
@keyframes banner-btn {
  from {
    mask-position: 0% 0%;
  }
  to {
    mask-position: 100% 0%;
  }
}
@keyframes reverse-banner-btn {
  from {
    mask-position: 100% 0%;
  }
  to {
    mask-position: 0% 0%;
  }
}
/* =============== BANNER END ======================*/

/* =============== SERVICE START ====================*/
#service {
  padding: 100px 0 100px 0;
}
#service .service-header h1{
  color: var(--common-clr);
  font-weight: 700;
}
#service .row{
  padding-top: 50px;
}
#service .card {
  position: relative;
  border: none;
  background: var(--white);
  padding: 20px;
  text-align: center;
  box-shadow:  22px 22px 50px #bababa7b,
  -22px -22px 50px #ffffff;
}
#service .card::after{
  content: "";
  position: absolute;
  transition: 0.3s;
  height: 0%;
  width: 5px;
  left: 0;
  top: 0;
  background-color: var(--common-clr);
}
#service .card:hover::after{
  height: 100%;
}
#service .card span{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--common-clr);
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
background: linear-gradient(145deg, #fff, #f0f0f0);
box-shadow:  22px 22px 44px #bababa;
border: 3px solid var(--common-clr);

}

#service .card .service-contains{
  padding-top: 30px;
}
#service .card .service-contains a{
  width: 100%;
  /* background-color: var(--common-clr); */
  display: block;
  padding: 10px;
  color: var(--white);
  position: relative;
  z-index: 2;
  color: var(--black) ;
  border: 2px solid var(--common-clr);
}
#service .card .service-contains a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--common-clr);
  transition: 0.5s;
  z-index: -1;
}
#service .card .service-contains a:hover::after{
  width: 0%;
}
/* =============== SERVICE END ======================*/



/* =============== CSS TEXT STROCK START ====================*/
#text_strock{
  background-color: var(--common-clr);
  overflow: hidden;
  white-space: nowrap !important;
}

#text_strock ul li{
  display: inline-block ;
  color: transparent;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:var(--white);
  font-size: 110px;
  font-weight: 700;
  padding: 0 20px;
  animation: text_strock 22s  infinite linear normal none running;
}
@keyframes text_strock {
  0%{
    transform: translateX(0%);
  }
  30%{
    transform: translateX(-30%);
  }
  50%{
    transform: translateX(-60%);
  }
  60%{
    transform: translateX(-700%);
  }
  70%{
    transform: translateX(-80%);
  }
  80%{
    transform: translateX(-200%);
  }
  90%{
  transform: translateX(-90%);
  }
  100%{
  transform: translateX(-100%);
  }
}
/* =============== CSS TEXT STROCK END ======================*/


/* =============== SCROLL PROGRESS START ====================*/
#scroll_progress{
  width: 70PX;
  height: 70px;
  background-color: var(--common-clr);
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
}
#scroll_progress.prgress_active{
  visibility: visible;
  opacity: 1;
}
#scroll_progress .progress_value{
width: calc(100% - 15px);
height: calc(100% - 15px);
border-radius: 50%;
background-color: var(--white);
position: absolute;
top: 50%;
left: 50%;
transform: translateY(-50%) translateX(-50%);
color: var(--black);
line-height: 55px;
text-align: center;
font-weight: bold;
}
/* =============== SCROLL PROGRESS END ======================*/


/* =============== CSS  CURSOR START ====================*/
.cursor-dot{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--common-clr);
}
.cursor-outline{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid  var(--common-clr);
}

.cursor-dot , .cursor-outline{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 20;
}
/* =============== CSS  CURSOR END ======================*/
